.boton{
    font-size: 2,3em;
    background: #ffffff;
    width: 322px;
    height: 3,6em;
    flex-shrink: 0;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu{
    background-color: #774018;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contenedorimgtexto{
    display: flex;
}
.contenedortexto{
    display: flex;
}
.center{
    text-align: center;
    font-size: 2,8em;
    display: flex;
}
.parrafos{
    font-size: 1,8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.integrantes{
    text-align: center;
    font-size: 6,25em;
    display: flex;
}
.nombres{
    font-size: 1,25em;
    display: flex; 
    justify-content: space-between;
        
}
.proyecto{
    text-align: center;
    font-size:2,8;  
    display: flex; 
    
}
.exp{
    text-align: center;
    font-size:1,8em; 
    display: flex;
}
